#root {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  font-size: 14px;
}

.table-content {
	font-size: 14px;
	border-top: 0px;
}

.sortable span {
	display: none
}

.nav-link:hover{
  text-decoration: none;
  background-color: #eee;
}

.nav-tab.active{
	border-bottom: 1px solid #ddd;
}

.flex-column.nav.nav-pills {
    width: 15%;
    float: left;
    margin-top: 31px;
}

.nav-pills.nav-link.active {
  color: #fff;
  background-color: #337ab7;
}

.loader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container{
  width: 80%
}

.my_table {
  margin-left: 20%;
}

.nav-item{
  width: 100%
}

.table {
  margin-bottom: 0px !important;
}

.table td, .table th{
  padding: .4rem !important;
}

th {
  text-align: center;
}

table {
  text-align: center;
}

.align-left{
  text-align: left;
}